body {
  font-family: Consolas, monospace;
}

.hide {
  display: none;
}
.selected {
  background-color: #666;
  color: whitesmoke;
}
.blur {
  opacity: 0.5;
  pointer-events: none;
}
.regionSelected {
  background-color: #abb2b9;
  color: whitesmoke;
}
.red {
  background-color: #c0392b;
}

.gray {
  background-color: #808b96;
}
.booking-container {
  position: relative;
  margin: 0 auto;
  width: 1100px;
  z-index: 1;
}

.step1 {
  background-color: #ebedef;
  height: 495px;
}

/*movie*/

.movie-section {
  background-color: #fffaf0;
  height: 495px;
  position: relative;
  float: left;
  width: 270px;
  margin-right: 3px;
  border: 1px solid #a9a9a9;
}

.movie-section .head {
  font-size: 16px;
  font-weight: 600;
  height: 30px;
  text-align: center;
  color: #e5e3d4;
  background-color: #2c3e50;
}

.movie-section .select {
  margin-left: 15px;
  margin-right: 10px;
  margin-top: 15px;
}

.movie-section .menu {
  height: 50px;
}

.movie-section .btn-1 {
  font-size: 15px;
  height: 20px;
  border: 1px solid #666;
  border-bottom: 0;
  display: inline-block;
  text-align: center;
  width: 110px;
}

.movie-section .btn-2 {
  font-size: 15px;
  height: 20px;
  border: 1px solid #666;
  display: inline-block;
  text-align: center;
  width: 110px;
}

.movieItem {
  height: 30px;
}

.movieItem:hover {
  cursor: pointer;
}

.movie-section .select .list {
  height: 5px;
  overflow: auto;
  height: 350px;
}

.age {
  font-size: 14px;
  margin-right: 8px;
  background-color: darkorange;
  color: white;
  border-radius: 5px;
}

.twe {
  background-color: darkorange;
}

.fif {
  background-color: #00bfff;
}

.nin {
  background-color: #ff0000;
}

.movieItem .title {
  font-size: 14px;
  font-weight: 600;
}

/*movie*/

/*theater*/
.theater-section {
  background-color: #fffaf0;
  height: 495px;
  width: 280px;
  position: relative;
  float: left;
  margin-right: 3px;
  border: 1px solid #a9a9a9;
}

.theater-section .head {
  font-size: 16px;
  font-weight: 600;
  height: 30px;
  text-align: center;
  color: #e5e3d4;
  background-color: #2c3e50;
}

.theater-section .select {
  margin-left: 20px;
  margin-right: 15px;
  margin-top: 15px;
}

.theater-section .menu {
  height: 50px;
}

.theater-section .btn-1 {
  font-size: 15px;
  height: 20px;
  border: 1px solid #666;
  border-bottom: 0;
  display: inline-block;
  text-align: center;
  width: 110px;
}

.theater-section .btn-2 {
  font-size: 15px;
  height: 20px;
  border: 1px solid #666;
  display: inline-block;
  text-align: center;
  width: 110px;
}

.regionList {
  margin-left: 5px;
  position: relative;
  float: left;
  border-right: 1px solid #dcdcdc;
  width: 110px;
  height: 380px;
}

.theater-section .regionItem {
  width: 110px;
  height: 25px;
  font-size: 14px;
  margin-bottom: 2px;
}

.regionItem:hover {
  cursor: pointer;
}

.regiontheater {
  overflow: auto;
  height: 350px;
}

.theaterItem {
  font-size: 14px;
  height: 25px;
}

.theaterItem:hover {
  cursor: pointer;
}

/*theater*/

/*date*/
.dateSection {
  background-color: #fffaf0;
  height: 495px;
  width: 110px;
  position: relative;
  float: left;
  margin-right: 3px;
  border: 1px solid #a9a9a9;
}

.dateSection .head {
  font-size: 16px;
  font-weight: 600;
  height: 30px;
  text-align: center;
  color: #e5e3d4;
  background-color: #2c3e50;
}

.year {
  font-size: 12px;
  font-family: Verdana;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
}

.month {
  margin-top: 3px;
  font-size: 30px;
  font-family: Verdana;
  font-weight: bold;
  text-align: center;
  line-height: 30px;
}

.dateItem {
  margin-left: 20px;
  width: 60px;
  position: relative;
  line-height: 30px;
}

.dateItem:hover {
  cursor: pointer;
}

.day {
  font-size: 16px;
}

.sun {
  margin-top: 3px;
  color: #a93226;
}

.sat {
  color: #3333ff;
}

.date {
  margin-left: 25px;
  font-size: 16px;
  font-family: Verdana;
  font-weight: bold;
}

.dates {
  margin-right: 10px;
  overflow: auto;
  height: 350px;
}

/* date*/

/*time*/
.timeSection {
  background-color: #fffaf0;
  height: 495px;
  width: 420px;
  position: relative;
  float: left;
  margin-right: 3px;
  border: 1px solid #a9a9a9;
}

.timeSection .head {
  font-size: 16px;
  font-weight: 600;
  height: 30px;
  text-align: center;
  color: #e5e3d4;
  background-color: #2c3e50;
}

.placeholder {
  margin-top: 180px;
  text-align: center;
  font-size: 15px;
  color: #666;
}

.time-option {
  font-size: 15px;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-top: 20px;
}

.morning {
  margin-right: 15px;
}

.sun {
  color: #ff0000;
}

.moon {
  color: #0000ff;
}

.timeItem {
  overflow: hidden;
  padding-top: 7px;
  padding-bottom: 7px;
  border-top: 2px solid #abb2b9;
  margin-left: 20px;
  margin-right: 20px;
}

.dimension {
  margin-right: 5px;
  font-size: 14px;
  font-weight: 600;
  color: #e74c3c;
}

.screen {
  margin-right: 3px;
  font-size: 12px;
  font-weight: 600;
}

.layer {
  margin-right: 3px;
  font-size: 12px;
  font-weight: 600;
}

.totalSeat {
  font-size: 11px;
  color: #566573;
}

.seatSelect {
  cursor: pointer;
  float: left;
  margin-bottom: 20px;
}

.timeItem .time {
  position: relative;
  float: left;
  width: 40px;
  text-align: center;
  height: 20px;
  border: 1px solid #abb2b9;
  margin-top: 5px;
  margin-right: 5px;
  font-size: 14px;
  font-weight: bold;
}

.emptySeat {
  position: relative;
  float: left;
  width: 70px;
  margin-top: 6px;
  font-size: 12px;
  color: #519227;
}

.sellout {
  color: #ff0000;
}

.sellout2 {
  text-decoration: line-through;
  opacity: 0.5;
}

/*time*/

/*bookInfo*/
.bookInfo {
  position: relative;
  margin-top: 2px;
  background-color: #17202a;
  height: 140px;
}

.Choice {
  position: absolute;
  line-height: 90px;
  padding-right: 50px;
  text-align: center;
  margin-top: 20px;
  height: 90px;
  width: 160px;
  font-size: 25px;
  border-right: 1px solid #cccccc;
}

.mv {
  margin-left: 300px;
}

.th {
  margin-left: 520px;
  color: #ededed;
}

.se {
  margin-left: 740px;
  color: #ededed;
}

.pay {
  margin-left: 960px;
}

.choicePh {
  color: #cccccc;
}

.movieSelected {
  font-size: 20px;
  color: #ededed;
}

.theaterInfo {
  position: relative;
  margin-top: 5px;
}

.row {
  line-height: 20px;
  font-size: 15px;
  text-align: left;
}

.content {
  position: absolute;
  font-weight: bold;
  margin-left: 10px;
  line-height: 20px;
  font-size: 15px;
}
.content-time {
  margin-left: 85px;
  font-weight: bold;
}

.content-layer {
  margin-left: 40px;
  font-weight: bold;
}

.content-seat {
  position: relative;
  float: left;
}

.seatSelectedContainer {
  margin-left: 10px;
  position: relative;
  float: left;
}

.eachSeat {
  position: relative;
  float: left;
}

.rightBtn {
  cursor: pointer;
  position: absolute;
  margin-left: 1350px;
  margin-top: 15px;
  border-radius: 20px;
  width: 100px;
  height: 100px;
}

.leftBtn {
  background-color: #808b96;
  cursor: pointer;
  position: absolute;
  margin-left: 200px;
  margin-top: 15px;
  border-radius: 20px;
  width: 100px;
  height: 100px;
}

.rightArrow {
  position: relative;
  font-size: 50px;
  color: #fbfcfc;
  margin-left: 25px;
  margin-top: 10px;
}

.rightBtn-title {
  position: relative;
  margin-left: 20px;
  font-size: 15px;
  font-weight: bold;
  color: #fbfcfc;
}

/*bookInfo*/

.step2 {
  background-color: #fffaf0;
  height: 595px;
  width: 1100px;
  margin: 0 auto;
  border: 1px solid #ebedef;
}

.seat-header {
  position: relative;
  height: 35px;
  width: 1100px;
  background-color: #00001a;
  margin: 0 auto;
  text-align: center;
  color: #e5e3d4;
  font-size: 17px;
  font-weight: bold;
  line-height: 32px;
}

.refresh {
  cursor: pointer;
  color: #e5e3d4;
  float: right;
  width: 100px;
}
.refresh-title {
  position: relative;
  margin-left: 10px;
  float: left;
  font-size: 13px;
}

.refresh-icon {
  position: absolute;
  margin-top: 6px;
  position: relative;
  font-size: 20px;
  color: #e5e3d4;
}
.seat-info {
  height: 120px;
  background-color: #f9efdc;
  position: relative;
  box-shadow: 0px 2px #bdbdbd;
}
.seat-row {
  height: 30px;
  margin-bottom: 5px;
  clear: both;
}

.seat-person {
  position: absolute;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  height: 90px;
  width: 470px;
  border-right: 1px solid #cccccc;
}

.seat-row-title {
  color: #706e66;
  line-height: 25px;
  font-size: 13px;
  float: left;
}
.adult-person {
  position: absolute;
  margin-left: 50px;
  float: left;
}

.adult-person > li {
  width: 23px;
  height: 23px;
  margin-left: 10px;
  float: left;
}

.person-btn {
  position: relative;
  cursor: pointer;
  z-index: 1;
  float: left;
  font-size: 13px;
  font-weight: bold;
  width: 23px;
  height: 23px;
  background-color: transparent;
  border: 1px solid #cdcac5;
}

.select2 {
  background-color: #4a3913;
  color: #e5e3d4;
}

.seat-time {
  position: absolute;
  margin-top: 20px;
  margin-bottom: 15px;
  padding-left: 530px;
  padding-right: 20px;
  height: 90px;
  width: 470px;
}
.seat-time-row {
  height: 30px;
}

.seat-time-content {
  position: relative;
  float: left;
  padding-left: 10px;
  font-size: 13px;
}

.thea {
  border-right: 1px solid #cccccc;
  width: 90px;
}
.scr {
  border-right: 1px solid #cccccc;
  width: 70px;
}

.seat-time-time {
  position: relative;
  margin-right: 50px;
  float: left;
  padding-left: 10px;
  font-size: 25px;
  font-weight: bold;
  width: 100px;
}
.seat-main {
  position: relative;
}

.seat-screen {
  position: relative;
  float: left;
  border: 1px solid royalblue;
  margin-left: 80px;
  width: 800px;
  height: 400px;
  padding-top: 30px;
}
.screen-img {
  position: relative;
  background: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 3px,
    #ccc 8px,
    #ccc 5px
  );
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  height: 25px;
  line-height: 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.legend {
  position: relative;
  margin-left: 70px;
  float: left;
  border: 1px solid blueviolet;
  width: 100px;
  height: 400px;
}
.legend-content {
  position: relative;
  margin-top: 90px;
}

.legend-row {
  height: 35px;
}

.seat-icon-title {
  color: #706e66;
  font-size: 14px;
  float: left;
  margin-top: 1px;
  margin-left: 10px;
}

.seat-icon-selected {
  position: relative;
  float: left;
  margin-top: 5px;
  color: #c0392b;
}
.seat-icon-selectable {
  position: relative;
  float: left;
  margin-top: 5px;
  color: #566573;
}

.seat-icon-booked {
  opacity: 0.6;
  position: relative;
  float: left;
  margin-top: 5px;
  color: #808b96;
}

.opening-container {
  position: relative;
  width: 600px;
  height: 400px;
  position: relative;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.opening-row {
  position: relative;
  margin-left: 150px;
  position: relative;
  clear: both;
}

.opening-row-name {
  margin-right: 10px;
  position: relative;
  float: left;
}

.opening-item {
  cursor: pointer;
  text-align: center;
  font-size: 15px;
  margin-right: 1px;
  width: 18px;
  height: 18px;
  color: white;
  background-color: #566573;
  position: relative;
  float: left;
}

.opening-item:hover {
  background-color: #c0392b;
}

.notAvail {
  background-color: #abb2b9;
  pointer-events: none;
}

.seatSelected {
  background-color: #c0392b;
  pointer-events: none;
}

/*scroll bar*/
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/*scroll bar end*/
